main {
    font: 32px/37.5px Roboto, sans-serif;
}

#problem,
#piedpipercoin,
#team {
    border-top: 84px solid transparent;
    margin-top: -84px;
    background-clip: padding-box;
}

header {
    height: 85px;
    background: #007765;
    position: fixed;
    width: 100%;
}

.main_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.logo {
    margin: 20px 0;
    height: 100%;
}

.nav_menu {
    margin: auto 0;
    font: normal 24px/48px Roboto, sans-serif;
    color: white;
}

.nav_menu>a{
    color: white;
    text-decoration: none;
    transition: font-size 0.15s ease-in;
}

.nav_menu>a:hover {
    font-size: 28px;
}

.grHeader {
    padding: 48px 0;
    font: normal 500 64px/75px Roboto, sans-serif;
    text-align: center;
    color: #007765;
}

.white_txt {
    margin: auto;
    color: white;
    height: 100%;
    text-align: center;
    font: normal 500 72px/84px Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.probl_text {
    padding-bottom: 92px;
}

.black_bg {
    background: url("/img/backgound/bg_GrBl.png") center no-repeat;
    background-size: cover;
    height: 403px;
    width: 100%;
}

.grey_bg {
    background-color: #EEEEEE;
    width: 100%;
}

.blue_bg {
    background: url("/img/backgound/bg_blue.png") center no-repeat;
    background-size: cover;
    height: 483px;
    width: 100%;
}

.white_bg {
    background-color: white;
    width: 100%;
}

.blue_bg>.white_txt {
    font-size: 48px;
    line-height: 56px;
}

.flex_logo {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}

.flex_logo>p{
    padding-left: 20px;
}

#team {
    padding-bottom: 40px;
}

.member {
    margin: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.name {
    color: #007765;
    font: normal 700 24px/28px Roboto, sans-serif;
}

.prof {
    color: black;
    font: italic 400 18px/21px Roboto, sans-serif;
}

.row {
    padding-bottom: 50px;
}

footer {
    background-color: #333333;
    height: 176px;
}

.footer_text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text>span {
    font: normal 400 18px/21px Roboto, sans-serif;
    color: white;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 575px) {
    .nav_menu {
        font: normal 9px/12px Roboto, sans-serif;
    }
    .nav_menu>a:hover {
        font-size: 10px;
    }
    .blue_bg>.white_txt {
        font-size: 32px;
        line-height: 40px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .nav_menu {
        font: normal 14px/15px Roboto, sans-serif;
    }
    .nav_menu>a:hover {
        font-size: 17px;
    }
}